<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bk.theweatherlive"
    android:versionCode="1"
    android:versionName="1.0"
    android:installLocation="internalOnly" >

    <uses-sdk
        android:minSdkVersion="12"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_SYNC_STATS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name="com.bk.theweatherlive.WeatherNow"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.bk.theweatherlive.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName="com.bk.theweatherlive.WeatherNow" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bk.theweatherlive.WeatherNow" />
        </activity>
        <activity
            android:name="com.bk.theweatherlive.HelpActivity"
            android:label="@string/title_activity_help"
            android:parentActivityName="com.bk.theweatherlive.WeatherNow" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bk.theweatherlive.WeatherNow" />
        </activity>

        <provider
            android:name="com.bk.theweatherlive.StubProvider"
            android:authorities="com.bk.theweatherlive.provider"
            android:exported="false"
            android:syncable="true" />

        <service
            android:name="com.bk.theweatherlive.SyncService"
            android:exported="true"
            android:process=":sync"
            android:permission="READ_SYNC_SETTINGS" >
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>

            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/sync_adapter" />
        </service>
        <service android:name="com.bk.theweatherlive.AuthenticatorService"
            android:permission="android.permission.AUTHENTICATE_ACCOUNTS" >
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>

        <activity
            android:name="com.bk.theweatherlive.GeneralHelp"
            android:label="@string/title_activity_general_help"
            android:parentActivityName="com.bk.theweatherlive.HelpActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bk.theweatherlive.HelpActivity" />
        </activity>
        <activity
            android:name="com.bk.theweatherlive.HourlySectionHelp"
            android:label="@string/title_activity_hourly_section_help"
            android:parentActivityName="com.bk.theweatherlive.HelpActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bk.theweatherlive.HelpActivity" />
        </activity>
        <activity
            android:name="com.bk.theweatherlive.NowSectionHelp"
            android:label="@string/title_activity_now_section_help"
            android:parentActivityName="com.bk.theweatherlive.HelpActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bk.theweatherlive.HelpActivity" />
        </activity>
        <activity
            android:name="com.bk.theweatherlive.NextDaysSectionHelp"
            android:label="@string/title_activity_next_days_section_help"
            android:parentActivityName="com.bk.theweatherlive.HelpActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bk.theweatherlive.HelpActivity" />
        </activity>
        <activity
            android:name="com.bk.theweatherlive.RefreshingWeatherDataHelp"
            android:label="@string/title_activity_refreshing_weather_data_help"
            android:parentActivityName="com.bk.theweatherlive.HelpActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bk.theweatherlive.HelpActivity" />
        </activity>
        <activity
            android:name="com.bk.theweatherlive.ActionBarHelp"
            android:label="@string/title_activity_action_bar_help"
            android:parentActivityName="com.bk.theweatherlive.HelpActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bk.theweatherlive.HelpActivity" />
        </activity>
        <activity
            android:name="com.bk.theweatherlive.ChangingSettingsHelp"
            android:label="@string/title_activity_changing_settings_help"
            android:parentActivityName="com.bk.theweatherlive.HelpActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bk.theweatherlive.HelpActivity" />
        </activity>
        <activity
            android:name="com.bk.theweatherlive.SendingFeedbackHelp"
            android:label="@string/title_activity_sending_feedback_help"
            android:parentActivityName="com.bk.theweatherlive.HelpActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bk.theweatherlive.HelpActivity" />
        </activity>
    </application>

</manifest>
